.visit-form{
    background: transparent;
    padding-top: 10rem;
    padding-bottom: 15rem;
  }
  
  .schedule-heading{
      text-align: center;
      letter-spacing: 2.5rem;
      color: white;
      font-size: 7rem;
      font-family: 'Si-ui-bold';
      padding: 2rem;
      padding-bottom: 10rem;
    }
  
  
      .visit-btn{
        width: 100%;
        padding: 2rem;
        font-size: 1rem;
        font-weight: bolder;
        border-radius: 30%;
        color: #277E82;
        font-family: 'Si-ui-bold';
      }
  
      .form-input{
        width: 100%;
        border: none;
        border-bottom: 1px solid white;
        padding: 7px;
        outline: none;
        background: transparent;
        color: white;
        font-size: 1.3rem;
      }
  
      .form-label{
        font-family: 'Si-ui-bold';
        color: white;
        letter-spacing: 2px;
        font-size: 1.4rem;
      }
  
  
      .item { grid-area: item; }
      .item1 { grid-area: item1; }
      .item2 { grid-area: item2; }
      .item3 { grid-area: item3; }
      .item4 { grid-area: item4; }
      .item5 { grid-area: item5; }
      .item6 { grid-area: item6; }
      .item7 { grid-area: item7; }
  
      .grid-container {
          display: grid;
          grid-template-areas:
              'item item item item item item'
              'item1 item1 item1 item2 item2 item2'
              'item3 item3 item3 item4 item4 item4'
              'item5 item5 item5 item5 item5 item5'
              'item6 item6 item6 item7 item7 item7';
          grid-gap: 20px;
          padding-left: 20%;
          padding-right: 20%;
          // background-color: #175C64;
      }
  
  
      @media (max-width: 800px){
        .form-label{
          font-size: 1.6rem;
        }
  
        .schedule-heading{
          font-size: 6rem;
          padding-bottom: 5rem;
        }
  
        .grid-container{
          grid-template-areas:
          'item item item item item item'
          'item1 item1 item1 item1 item1 item1'
          'item2 item2 item2 item2 item2 item2'
          'item3 item3 item3 item3 item3 item3'
          'item4 item4 item4 item4 item4 item4'
          'item5 item5 item5 item5 item5 item5'
          'item6 item6 item6 item7 item7 item7'; 
          padding: 2rem;
        }
  
        .visit-btn{
          font-size: .2rem;
          padding: .2rem;
        }
      }